<%= search_form_for(@q, url:admin_book_categories_path) do |f| %>
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>
  <%= f.submit %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
<% @categories.each do |item|%>
    <tr>
      <th scope="row"><%= item.id%></th>
      <td><%= item.name%></td>
      <td><%= link_to "Edit", edit_admin_book_category_path(item.id), class: "btn btn-sm btn-info"  %></td>
      <td><%= button_to "Delete", admin_book_category_path(item.id),class: "btn btn-sm btn-danger", method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
<%= paginate @categories %>
    <%#= link_to "Show All Books", admin_books_path(@category)%>
<%= link_to "Add Category", new_admin_book_category_path%>