<table>
        <%= form_with model: [:admin, @book],data:{turbo: false} do |form| %>
            <tr>
                <td>
                  <%= form.label :name, "Enter Book Name" %>
                  <%= form.text_field :name %>
                  <% @book.errors.full_messages_for(:name).each do |message| %>
                  <div><%= message %></div>
                  <% end %>  
                </td>
            </tr>
            <tr>
                <td>
                  <%= form.label :author, "Enter Book Author Name" %>
                  <%= form.text_field :author %>
                  <% @book.errors.full_messages_for(:author).each do |message| %>
                  <div><%= message %></div>
                  <% end %>
                </td>
            </tr>
            <tr>
                <td>
                  <%= form.label :publication_year, "Select Book Publication Year" %>
                  <%= form.date_field :publication_year %>
                  <% @book.errors.full_messages_for(:publication_year).each do |message| %>
                  <div><%= message %></div>
                  <% end %>
                </td>
            </tr>
            <tr>
                <td>
                  <%= form.label :book_category_id, "Select Book Category" %>
                  <%= form.select :book_category_id, BookCategory.pluck(:name, :id)  %>
                  <% @book.errors.full_messages_for(:book_category_id).each do |message| %>
                  <div><%= message %></div>
                  <% end %>
                </td>
            </tr>
            <tr>
                <td>
                  <%= form.label :image%>
                  <%= form.file_field :image, class: "form-control"%>
                  <% @book.errors.full_messages_for(:image).each do |message| %>
                  <div><%= message %></div>
                  <% end %>
                </td>
            </tr>
            <tr>
              <td><%= form.submit %></td>
            </tr>
        <% end %>
    </table>
