<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Due Amount</th>
      <th scope="col">Username</th>
      <th scope="col">Book Name</th>
      <th scope="col">Paid</th>
    </tr>
  </thead class="thead-dark">
  <tbody>
<% @book_fines.each do |item|%>
    <tr>
      <th scope="row"><%= item.id%></th>
      <td><%= item.amount%></td>
      <td><%= User.find(item.user_id).name%></td>
      <td><%= Book.find(item.book_id).name%></td>
      <% if item.paid === true%>
      <td>Paid</td>
      <% else %>
      <td>Not Paid</td>
      <% end %> 
      <%if item.paid? === false%>
      <% end %>
      <%= button_to "Pay Now!", checkout_create_path, params: {id: item.id}, remote: true%>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<%= paginate @book_fines %>