<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Due Amount</th>
      <th scope="col">Username</th>
      <th scope="col">Book Name</th>
      <th scope="col">Paid</th>
    </tr>
  </thead>
  <tbody>
<% @book_fines.each do |item|%>
    <tr>
      <th scope="row"><%= item.id%></th>
      <td><%= item.amount%></td>
      <td><%= User.find(item.user_id).name%></td>
      <td><%= Book.find(item.book_id).name%></td>
      <%# debugger %>
      <td>Paid: <%= item.paid%> 
      <%#debugger%>
      <%if item.paid? === false%>
      <%= link_to "Pay-Now", reader_bookfines_pay_dues_path(amount: item.amount, user_id: item.user_id, book_id: item.book_id, issue_book_id: item.issue_book_id) %>
      | <%= button_to "Pay Now!", checkout_create_path, params: {id: item.id}, remote: true%>
      <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<%= paginate @book_fines %>