<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Publish Year</th>
      <th scope="col">Book Category</th>
      <th scope="col">Category ID</th>
      <th scope="col">Availability</th>
      <th scope="col">Image</th>
      <th scope="col">Request</th>
    </tr>
  </thead>
  <tbody>
<% @books.each do |item|%>
    <tr>
      <th scope="row"><%= item.id%></th>
      <td><%= item.name%></td>
      <td><%= item.author%></td>
      <td><%= item.publication_year.localtime%></td>
      <td><%= BookCategory.find(item.book_category_id).name%></td>
      <td><%= item.book_category_id%></td>
      <% if item.availble === true%>
      <td>Yes</td>
      <% else %>
      <td>No</td>
      <% end %> 
      <td><%= image_tag item.image, style: "height: 50px; width: 50px;" %></td>
      <%# debugger %>
      <% if item.availble === true %>
      <td><%= link_to "Request", new_reader_requested_book_path(item.id)%></td>
      <% else %>
      <td><a>Book Occupied</a></td>
      <% end %>
    </tr>
<% end %>
  </tbody>
</table>
<%= paginate @books %> 