<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Return Date</th>
      <th scope="col">User Returned Date</th>
      <th scope="col">Book Returned</th>
      <th scope="col">Book Name</th>
      <th scope="col">Student Name</th>
    </tr>
  </thead>
  <tbody>
    <% @issued_books.each do |item|%>
    <tr>
      <th scope="row"><%= item.id%></th>
      <td><%= item.return_date.to_date%></td>
      <% if item.actual_return_date.nil?%>
      <td><%= item.actual_return_date%></td>
      <% else %>
      <td><%= item.actual_return_date.localtime%></td>
      <% end %>
      <% if item.returned === true%>
      <td>Yes</td>
      <% else %>
      <td>No</td>
      <% end %>
      <td><%= Book.find(item.book_id).name%></td>
      <td><%= User.find(item.user_id).name%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @issued_books%>