<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Due Amount</th>
      <th scope="col">Username</th>
      <th scope="col">Book Name</th>
      <th scope="col">Paid</th>
    </tr>
  </thead>
  <tbody>
<% @book_fines.each do |item|%>
    <tr>
      <th scope="row"><%= item.id%></th>
      <td><%= item.amount%></td>
      <td><%= User.find(item.user_id).name%></td>
      <td><%= Book.find(item.book_id).name%></td>
      <td>Paid: <%= item.paid %></td>
    </tr>
<% end %>
  </tbody>
</table>
<%= paginate @book_fines %>