<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
/* Fixed sidenav, full height */
.sidenav {
  width: 200px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}



/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
</style>
<div class="sidenav">
    <div class="col-md-3 col-3 col-sm-3 col-lg-3 " style="padding-left: 1px;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 250px;height:645px;"> <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"> <svg class="bi me-2" width="40" height="32"> </svg> <span class="fs-4">LMS</span> </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li> <a href="/" class="nav-link text-white"> <i class="fa fa-dashboard"></i><span class="ms-2">Categories</span> </a> </li>
            <li>
              <button class="dropdown-btn">
              <i class="fa fa-dashboard"></i>
              <span class="ms-2">Books</span>
              </button>
              <div class="dropdown-container">
                <%= link_to "Books", admin_books_path%>
                <%= link_to "Obtainable", admin_books_path(availble: true)%>
                <%= link_to "Unobtainable", admin_books_path(availble: false)%>
              </div>
            </li>
            <li>
              <button class="dropdown-btn">
              <i class="fa fa-dashboard"></i>
              <span class="ms-2">Requested Books</span>
              </button>
              <div class="dropdown-container">
                <%= link_to "All", admin_requested_books_path %>
                <%= link_to "Pending", admin_requested_books_path(status: "pending") %>
                <%= link_to "Approved", admin_requested_books_path(status: "approved") %>
                <%= link_to "Rejected", admin_requested_books_path(status: "rejected") %>
              </div>
            </li>
            <li>
              <button class="dropdown-btn">
              <i class="fa fa-dashboard"></i>
              <span class="ms-2">Issued Books</span>
              </button>
              <div class="dropdown-container">
                <%= link_to "All", admin_issuebooks_path %>
                <%= link_to "Returned Books", admin_issuebooks_path(returned: true) %>
                <%= link_to "Not Returned Books", admin_issuebooks_path(returned: false) %>
              </div>
            </li>
            <li> <a href="/admin/bookfines" class="nav-link text-white"> <i class="fa fa-cog"></i><span class="ms-2">Due Amounts</span> </a> </li>
            <li> <a href="/reader/top_rated_books/index" class="nav-link text-white"> <i class="fa fa-cog"></i><span class="ms-2">Top Rated Books</span> </a> </li>
        </ul>
                
                
        </div>
    </div>
</div>
<script> 
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>
