<!DOCTYPE html>
<html>
  <head>
    <title>LMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%#= javascript_importmap_tags "application" %>
    <%# <%= javascript_tag "application" %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <%# <%= javascript_importmap_tags %>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render :partial => 'layouts/navbar' %>
    <div class="row">
    <div class="col-md-3 col-3 col-sm-3 col-lg-3 ">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 250px;height:800px;"> <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"> <svg class="bi me-2" width="40" height="32"> </svg> <span class="fs-4">LMS</span> </a>
    <hr>
    <%#<div class="dropdown"> <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"> <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> <strong> <%= current_user.name </strong> </a> %>
        <%#<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-link btn btn-sm btn-light" %></li>
            <%#<li>
                <hr class="dropdown-divider">
            </li>
            <li><%= link_to "Log Out", destroy_user_session_path, class: "nav-link btn btn-sm btn-warning", data: { turbo_method: :delete}%></li>
        <%#</ul>
    </div>%>
    <%# <hr> %>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item"> <a href="/" class="nav-link active" aria-current="page"> <i class="fa fa-home"></i><span class="ms-2">Categories</span> </a> </li>
        <li> <a href="/admin/books" class="nav-link text-white"> <i class="fa fa-dashboard"></i><span class="ms-2">All Books</span> </a> </li>
        <li> <a href="#" class="nav-link text-white"> <i class="fa fa-first-order"></i><span class="ms-2">Requested Books</span> </a> </li>
        <li> <a href="#" class="nav-link text-white"> <i class="fa fa-cog"></i><span class="ms-2">Issued Books</span> </a> </li>
        <li> <a href="#" class="nav-link text-white"> <i class="fa fa-bookmark"></i><span class="ms-2">Bookmarks</span> </a> </li>
    </ul>
</div>
</div>
<div class="col-5 col-md-5 col-sm-5 col-lg-5">

    <%# <p class="notice"><%= notice</p>
    <p class="alert"><%= alert </p> %>
    <div class="container" >
      <%= yield %>
    </div>

    </div>

    </div>
  </body>
</html>
